<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anacristinapg.proyectotfg" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Interfaz.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Interfaz.LocalizationActivity"
            android:label="@string/title_activity_localization" >
        </activity>

        <service
            android:name=".ServiceMain"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".Interfaz.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>

        <service
            android:name=".ServiceWIFI"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".MyService2"
            android:label="@string/title_activity_my_service2" >
        </activity>
    </application>

</manifest>
